COMPOSE_PROFILES=core
COMPOSE_PROJECT_NAME=ercs-deploy

APP_ENVIRONMENT=PROD
WEB_APP_ENVIRONMENT=prod

# Postgres
POSTGRES_DB=ercs
POSTGRES_USER=
POSTGRES_PASSWORD=

# Traefik
TRAEFIK_NETWORK=traefik-proxy
TRAEFIK_CERT_RESOLVER=letsencrypt
BACKEND_HOST=api.example.org
FRONTEND_HOST=ercs.example.org
CMS_HOST=cms.example.org

# Ollama
LLM_OLLAMA_BASE_URL=
OLLAMA_KEEP_ALIVE=24h
OLLAMA_NUM_PARALLEL=1
OLLAMA_MAX_LOADED_MODELS=2
LLM_MODEL_NAME=qwen2.5vl:7b
LLM_DOC_SUMMARY_MODEL_NAME=
LLM_EMBEDDING_MODEL=nomic-embed-text:v1.5
