COMPOSE_PROFILES=core
PROJECT_ENVIRONMENT=prod
APP_ENVIRONMENT=PROD
WEB_APP_ENVIRONMENT=production
# Backend
APP_LOG_LEVEL=INFO
BACKEND_TIME_ZONE=UTC
# Postgres
POSTGRES_DB=ercs
POSTGRES_USER=
POSTGRES_PASSWORD=
# Traefik
TRAEFIK_NETWORK=
TRAEFIK_CERT_RESOLVER=
BACKEND_HOST=api.example.org
FRONTEND_HOST=ercs.example.org
CMS_HOST=cms.example.org
