DJANGO_SECRET_KEY=
DEBUG=false
# Domains
# NOTE: full URLs with scheme
APP_DOMAIN=
FRONTEND_DOMAIN=
# Comma-separated
ADDITIONAL_TRUSTED_ORIGINS=
ADDITIONAL_ALLOWED_HOSTS=
SESSION_COOKIE_DOMAIN=
CSRF_COOKIE_DOMAIN=
AWS_S3_ENABLED=false

LLM_USE_OPENROUTER=false
LLM_USE_SENTENCE_TRANSFORMERS=false
SENTENCE_TRANSFORMER_MODEL_NAME=sentence-transformers/all-mpnet-base-v2

# Kobo
KOBO_DOMAIN=https://kobo.ifrc.org
KOBO_ACCESS_TOKEN=

# Sentry
SENTRY_ENABLED=true
SENTRY_DEBUG=false
SENTRY_DSN=
SENTRY_TRACES_SAMPLE_RATE=0.2
SENTRY_PROFILE_SAMPLE_RATE=0.2

# ollama
LLM_OLLAMA_BASE_URL=http://ollama:11434
LLM_MODEL_NAME=qwen2.5vl:7b
LLM_DOC_SUMMARY_MODEL_NAME=
LLM_EMBEDDING_MODEL=nomic-embed-text:v1.5
OLLAMA_KEEP_ALIVE=24h
OLLAMA_NUM_PARALLEL=1
OLLAMA_MAX_LOADED_MODELS=2
